/*moudule. 을 붙임으로써 자동으로 난수 생성하여 css를 고유하게 만들어줌*/
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 16px;
    border-bottom: solid 1px #E5E5E5;
    
}

.rightButtonContainer{
    display: flex;
    gap: 6px; /*gap을 많이 씀~*/
    align-items: center;
}

.roundButton{
    padding:10px 14px;
    /*버튼에 그라데이션 추가*/
    background: linear-gradient(90deg, #0094ff, #0046ff 114.29%);
    border-radius: 20px;

    /*피그마에서 불러올 때 font-fammily는 제거하고 갖고오기*/
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;

    width: fit-content;
}

.icShare{


    flex-shrink: 0;
    padding: 10px 12px;

    margin-left: 4px;
    cursor: pointer;
    border-radius: 22.5px;
    background: #EAECEF;

    /* 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;

}

.ic_Share_img{
    width: 20px;
    height: 24px;
}